
/*----------
# General
----------*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    line-height: 100%;
}

:root  {
    --dark-bg: #000D16;
    --dgray-bg: #2F3840;
    --white-font: #ffffff;
    --bgreen-font: #18A4A0;
    --blue-effect: #0056b3;
    --lightblue-effect: #54b3d6;
}

html, body {
    overflow-x: hidden; 
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik', sans-serif;
    color: var(--white-font);
}

a {
    text-decoration: none !important;
}

/*----------
# Sections
----------*/

.header-container-bg, .footer-container-bg {
    width: 95%;
    max-width: 1650px;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    font-size: 36px;
    padding-bottom: 35px;
}

.aboutMe,
.projects,
.contact,
.footer {
    background-color: var(--dark-bg);
}

.aboutMe,
.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0px;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 167px);
    padding: 0px;
}

.footer {
    text-align: center;
}

/*----------
# Navbar
----------*/
.navbar {
    padding-top: 40px;
}

.navbar-brand {
    width: 100px;
    transition: all ease .3s
}

.navbar-brand:hover {
    transform: scale(1.25);
}

.navbar-nav li {
    position: relative;
}

.nav-link {
    color: var(--white-font);
    font-size: 20px;
    transition: all ease .3s;
}

.nav-link:hover {
    color: var(--lightblue-effect)
}

.nav-link:after {
    content: "";
    display: block;
    margin: 10px auto;
    position: absolute;
    width: 0%;
    transition: width .3s;;
}

.nav-link:hover:after {
    left: 50%;
    width: 55%;
    height: 5px;
    display: block;
    border-radius: 10px;
    transition: width .3s;
    transform: translateX(-50%);
    background-color: var(--lightblue-effect);
}

/*----------
# Landing
----------*/
.header {
  width: 100%;
  min-height: 100vh;
  background: var(--dark-bg) url("../img/hero-bg.jpg") top left no-repeat;
  background-size: cover;
  position: relative;
}

.landing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 91.406px);
    padding: 0px;
}

.landing-text-item {
        list-style-type: none;
}

@media (max-width: 992px) {
    .header {
        background: url("../img/hero-bg.jpg") center no-repeat;
        background-size: cover;
    }

    .landing-text {
        min-width: 340px;
    }

    .landing-text-head {
        font-size: 40px;
    }

    .landing-text-item {  
        font-size: 28px;
        padding-left: 60px;
    }
}

@media (min-width: 993px) {
    .landing-text {
        padding-left: 250px;
        min-width: 750px;
    }

    .landing-text-head {
        font-size: 60px;
    }

    .landing-text-item {  
        font-size: 40px;
        padding-left: 90px;
    }
}

/*----------
# Buttons
----------*/
.button {
    font-weight: 400;
    border-radius: 30px;
    display: inline-block;
    transition: all ease .3s;
    color: var(--white-font);
    box-shadow: inset 0 0 0 2px var(--dgray-bg);
    background: none;
    
}

.button:hover {
    transform: scale(1.075);
    background: var(--dgray-bg);
    color: var(--lightblue-effect);
}

.button-large {
    font-size: 22px;
    padding: 20px 40px;
}

.resume-btn {
    font-size: 20px;
    padding: 10px 20px;
}

.see-projects-btn,
.email-me-btn {
    text-align: center;
    padding: 25px 0px;
}

.contact-me-btn {
    text-align: center;
    padding: 50px 0px;
}

/*----------
# About Me
----------*/
.aboutMe-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 992px) {
    .aboutMe-img {
        width: 330px;
        border-radius: 40px;
        padding: 25px;
    }

    .aboutMe-text {
        padding: 14px 28px 0px;
    }

    .aboutMe-s1 {
        font-size: 22px;
        color: var(--white-font);
    }

    .aboutMe-s2 {
        font-size: 28px;
        font-weight: 500;
        color: var(--lightblue-effect);
    }

    .aboutMe-h4 {
        font-size: 18px;
        color: var(--bgreen-font);
        padding-top: 20px;
    }

    .aboutMe-p {
        font-size: 18px;
    }
}

@media (min-width: 993px) {
    .aboutMe-img {
        width: 430px;
        border-radius: 40px;
        padding: 15px;
    }

    .aboutMe-s1 {
        font-size: 26px;
        color: var(--white-font);
    }

    .aboutMe-s2 {
        font-size: 32px;
        font-weight: 500;
        color: var(--lightblue-effect);
    }

    .aboutMe-h4 {
        font-size: 22px;
        color: var(--bgreen-font);
        padding-top: 20px;
    }

    .aboutMe-p {
        font-size: 22px;
        color: var(--white-font);
    }
}

.aboutMe-s,
.aboutMe-h4,
.aboutMe-p {
    padding-bottom: 15px;
}

.technologies {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around    
}

.html5,
.css3,
.bootstrap,
.javascript,
.git,
.mongodb,
.postman,
.express,
.react,
.node,
.php,
.python,
.django {
    padding: 5px;
    width: 45px;
}

/*----------
# Projects
----------*/

.card {
    border-radius: 20px;
    background-color: var(--dgray-bg);
    padding: 1.5rem 1.5rem 0;
    margin: 1rem 0;
}

.card-body {
    display: flex;
    flex-direction: column;
}

@media (max-width: 415px) {
    .card-title {
        font-size: 20px;
    }

    .fa-external-link {
        font-size: 16px;
    }
}

@media (min-width: 416px) {
    .card-title {
        font-size: 26px;
    }

    .fa-external-link {
        font-size: 22px;
    }
}

.card-title, .made-with {
    text-align: center;
    padding: 6px 0px;
}

.card-text {
    line-height: 24px;
    margin-top: auto;
    text-align: justify !important;
}

.made-with {
    color: var(--bgreen-font);
    margin-top: auto;
}

/*----------
# Contact
----------*/

.contact-h5 {
    text-align: center;
}

@media (max-width: 992px) {
    .contact-h5 {
        font-size: 18px;
    }
}

@media (min-width: 993px) {
    .contact-h5 {
        font-size: 22px;
    }
}

.socmed-contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px 0px;
}

.socmed-contact {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.socmed-icon-contact {
     padding: 3px 0px;
}

.socmed-text {
     color:var(--white-font);
     font-size: 19px;
     padding-left: 3px;
}

/*----------
# Footer
----------*/
.backtop {
    font-size: 38px;
    transition: all ease .3s;
    color: var(--lightblue-effect);
}

.backtop:hover {
    transform: scale(1.5);
}
