
/*----------
# General
----------*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    line-height: 100%;
}

:root  {
    --dark-bg: #000D16;
    --dgray-bg: #2F3840;
    --white-font: #ffffff;
    --bgreen-font: #18A4A0;
    --blue-effect: #0056b3;
    --lightblue-effect: #54b3d6;
}

html, body {
    overflow-x: hidden; 
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--white-font);
}

a {
    text-decoration: none !important;
}

/*----------
# Sections
----------*/

.header-container-bg, .footer-container-bg {
    width: 95%;
    max-width: 1650px;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    font-size: 38px;
}

.section-title-row {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}

.aboutMe,
.projects,
.contact,
.footer {
    background-color: var(--dark-bg);
}

.aboutMe,
.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 25px;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 165px);
    padding: 0px;
}

.footer {
    text-align: center;
}

/*----------
# Navbar
----------*/
.navbar {
    padding-top: 40px;
}

.navbar-brand {
    width: 100px;
    transition: all ease .3s
}

.navbar-brand:hover {
    transform: scale(1.25);
}

.navbar-nav li {
    position: relative;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-link {
    color: var(--white-font);
    font-size: 18px;
    transition: all ease .3s;
}

.nav-link:hover {
    color: var(--lightblue-effect)
}

.nav-link:after {
    content: "";
    display: block;
    margin: 10px auto;
    position: absolute;
    width: 0%;
    transition: width .3s;;
}

.nav-link:hover:after {
    left: 50%;
    width: 55%;
    height: 5px;
    display: block;
    border-radius: 10px;
    transition: width .3s;
    transform: translateX(-50%);
    background-color: var(--lightblue-effect);
}

/*----------
# Landing
----------*/
.header {
  width: 100%;
  min-height: 100vh;
  background: var(--dark-bg) url("../img/hero-bg.jpg") top left no-repeat;
  background-size: cover;
  position: relative;
}

.landing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 91.5px);
    padding: 0px;
}

@media (max-width: 991px) {
    .header {
        background: var(--dark-bg) url("../img/hero-bg.jpg") center no-repeat;
        background-size: cover;
    }

    .landing-text {
        min-width: 340px;
    }

    .landing-text-head {
        font-size: 38px;
    }

    .landing-text-item {  
        font-size: 28px;
        padding-left: 60px;
    }
}

@media (min-width: 992px) {
    .landing-text {
        padding-left: 250px;
        min-width: 750px;
    }

    .landing-text-head {
        font-size: 56px;
    }

    .landing-text-item {  
        font-size: 40px;
        padding-left: 90px;
    }
}

/*----------
# Buttons
----------*/
.button {
    font-weight: 400;
    border-radius: 30px;
    display: inline-block;
    transition: all ease .3s;
    color: rgba(235, 245, 255, 90%);
    box-shadow: 
        inset 0 0 0 2px var(--dgray-bg),
        5px 6px 8px -4px var(--dgray-bg);
    background: none;
    
}

.button:hover {
    transform: scale(1.075);
    background: var(--dgray-bg);
    background: linear-gradient(45deg, rgba(44, 62, 80, 98%), rgba(47, 56, 64, 98%));
    color: var(--lightblue-effect);
}

.button-large {
    font-size: 22px;
    padding: 20px 40px;
}

.resume-btn {
    font-size: 18px;
    padding: 13px 26px;
}

.see-projects-btn,
.contact-me-btn,
.email-me-btn {
    text-align: center;
    padding: 25px 0px;
}

/*----------
# About Me
----------*/
.aboutMe-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutMe-img {
    box-shadow: 0 8px 10px -4px var(--lightblue-effect);
    border-radius: 30px;
}

.overlay {
    position: absolute;
    background: rgba(0, 13, 22, 10%) !important;
    width: 100%;
    height: 100%;
}

.hi-there,
.aboutMe-s,
.aboutMe-p,
.technologies-header {
    margin-bottom: 20px;
}

.hi-there {
    margin-top: 25px;
}

.aboutMe-p, .aboutMe-s1 {
    color: rgba(235, 245, 255, 65%);
}

.aboutMe-s2 {
    color: var(--lightblue-effect);
}

.hi-there, .technologies-header {
    color: var(--bgreen-font);
    padding-top: 15px;
    font-size: 20px;
}

.technologies {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.tech-icon {
    padding: 5px;
    width: 38px;
}


@media (max-width: 767px) {
    .aboutMe-img {
        width: 230px;
    }

    .aboutMe-p {
        line-height: 22px;
    }

    .aboutMe-s2 {
        font-size: 22px;
    }

    .aboutMe-p, .aboutMe-s1 {
        font-size: 17px;
    }

}


@media (min-width: 768px) and (max-width: 991px) {
    .aboutMe-img {
        width: 315px;
    }

    .aboutMe-text {
        padding: 14px 28px 0px;
    }

    .aboutMe-s1 {
        font-size: 22px;
    }

    .aboutMe-s2 {
        font-size: 28px;
        font-weight: 500;
    }

    .hi-there, .technologies-header {
        font-size: 23px;
    }

    .aboutMe-p {
        font-size: 19px;
        line-height: 24px;
    }

    .tech-icon {
        width: 42px;
    }
}

@media (min-width: 992px) {
    .aboutMe-img {
        width: 315px;
    }

    .aboutMe-s1 {
        font-size: 20px;
    }

    .aboutMe-s2 {
        font-size: 24px;
        font-weight: 500;
    }

    .aboutMe-p {
        font-size: 18px;
        line-height: 23px;
    }

    .aboutMe-text {
        padding: 15px 20px 10px 20px;
    }

    .tech-icon {
        padding: 3px;
        width: 35px;
    }

    .technologies-header {
        padding-top: 10px;
    }
}

@media (min-width: 1200px) {
    .hi-there, .technologies-header {
        font-size: 25px;
    }

    .aboutMe-p {
        font-size: 20px;
    }
}

@media (min-width: 1400px) {
    .aboutMe-2 {
        font-size: 22px;
    }

    .tech-icon {
        padding: 5px;
        width: 40px;
    }
}


/*----------
# Projects
----------*/

.card {
    border-radius: 20px;
    background: rgb(22, 27, 34, 90%);
    border: rgba(235, 245, 255, 25%) 1px inset;
    padding: 1.5rem 1.5rem 0;
    margin: 1rem 0;
    box-shadow: 0 7px 9px -4px var(--blue-effect);
}

.card:hover {
    transform: scale(1.01) !important;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.projects-intro {
    font-size: 18px;
    color: rgba(235, 245, 255, 60%);
}

@media (max-width: 767px) {
    .card-title {
        font-size: 20px;
    }
}

.card-title, .made-with {
    text-align: center;
    padding: 6px 0px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .projects-intro {
        margin: 0px 100px;
    }

    .card-title {
        font-size: 23px;
    }
}

@media (min-width: 992px) {
    .card-title {
        font-size: 23px;
    }
}

.card-text {
    line-height: 24px;
    margin-top: auto;
    text-align: justify !important;
    color: rgba(235, 245, 255, 60%);
}

.made-with {
    color: var(--bgreen-font);
    margin-top: auto;
}

/*----------
# Contact
----------*/

.contact-h5 {
    text-align: center;
    color: rgba(235, 245, 255, 60%);
}

@media (max-width: 991px) {
    .contact-h5 {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .contact-h5 {
        font-size: 22px;
    }
}

.socmed-contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px 0px;
}

.socmed-contact {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.socmed-icon-contact {
     padding: 3px 0px;
}

.socmed-text {
     color:var(--white-font);
     font-size: 19px;
     padding-left: 3px;
     color: rgba(235, 245, 255, 90%);
}

/*----------
# Footer
----------*/
.backtop {
    font-size: 38px;
    transition: all ease .3s;
    color: var(--lightblue-effect);
}

.backtop:hover {
    transform: scale(1.5);
}